[submodule "product-service"]
	path = product-service
	url = git@github.com:thanhtungha/product-service.git
[submodule "order-service"]
	path = order-service
	url = git@github.com:thanhtungha/order-service.git
[submodule "inventory-service"]
	path = inventory-service
	url = git@github.com:thanhtungha/inventory-service.git
[submodule "discovery-server"]
	path = discovery-server
	url = git@github.com:thanhtungha/discovery-server.git
[submodule "api-gateway"]
	path = api-gateway
	url = git@github.com:thanhtungha/api-gateway.git
